doctype html
html
  head
    h1  #{name}
    



block content
  .page-header
   
   | roleid:
  input(type="text", name="roleid")

  | rolename:
  input(type="text", name="rolename")

  input(type="submit", value="Submit")