doctype html
html
  head
    h1  #{name}
    



block content
  .page-header
   
   | Username:
  input(type="text", name="user")

  | Password:
  input(type="password", name="pswd")

  input(type="submit", value="Submit")